services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - pais_x_net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 15s

  publisher:
    build: ./servicios/publisher
    container_name: service_publisher
    depends_on:
      rabbitmq:
        condition: service_healthy
      validator:
        condition: service_started
    networks:
      - pais_x_net
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
    command: ["--mode", "normal", "--rate", "1.0"]

  validator:
    build: ./servicios/validator
    container_name: service_validator
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - pais_x_net
    volumes:
      - ./schemas:/app/schemas
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
      SCHEMA_FILE: /app/schemas/event_schema.json

  aggregator:
    build: ./servicios/aggregator
    container_name: service_aggregator
    depends_on:
      rabbitmq:
        condition: service_healthy
      validator:
        condition: service_started
    networks:
      - pais_x_net
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"

  audit:
    build: ./servicios/audit
    container_name: service_audit
    depends_on:
      rabbitmq:
        condition: service_healthy
      validator:
        condition: service_started
      aggregator:
        condition: service_started
    networks:
      - pais_x_net
    volumes:
      - ./audit_data:/app/audit_data
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
      DB_PATH: /app/audit_data/audit.db

  metrics-storage:
    build: ./servicios/metrics api
    container_name: service_metrics_storage
    depends_on:
      rabbitmq:
        condition: service_healthy
      aggregator:
        condition: service_started
    networks:
      - pais_x_net
    volumes:
      - ./metrics_data:/app/metrics_data
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_PORT: "5672"
      DB_PATH: /app/metrics_data/metrics.db

networks:
  pais_x_net:
    driver: bridge
